extends ../layout

block content
  script(src='/js/lib/sha256.js')
  script(src='/js/address.js')

  .pb-2.mt-2.mb-4.border-bottom
    h2 Address Query
  form#safu-form.m-5(autocomplete="off")
    #address-input-container.current-progress-text
      span Is My
      select#currency-input(name="currency").ml-2.ml-1
        option(value="BTC") BTC
        option(value="ETH`") ETH
        option(value="XRP") XRP
        option(value="IOTA") IOTA
      input#address-input.form-control.exchange-inline-form-group.align-middle.current-progress-text(type="text" placeholder="Address" autocomplete="off")
      span ZAFU?
    #encrypted-address-container.mt-3(style="display: none; opacity: 0")
      span Encrypted Address is
      input#encrypted-address-input.form-control.exchange-inline-form-group.align-middle(type="text" placeholder="Address")
    img#loading-img(src="/images/loading.gif" alt="" style="display: none;")
    #check-button.text-center.mt-5
      button.button.btn.btn-primary Check ZAFU
    #address-safu-result(style="display: none; opacity: 0")
      #address-safu-success
        .exchange-withdrawal-address-input.m-5
          span.mr-2.address-inputed
          span IS ZAFU! SCORE IS
          span.ml-2.score
      #address-safu-error
        .exchange-withdrawal-address-input.m-5
          span.mr-2.address-inputed
          span IS NOT ZAFU! SCORE IS
          span.ml-2.score
    a#new-query-button.text-center.mt-5(href="/address/query" style="display: none; opacity: 0")
      button.button.btn.btn-primary Do Another Query
  .pb-2.mt-2.mb-4.border-bottom